*{
    margin: 0;
    padding: 0;
}
body{
    background:rgb(51, 51, 51);
}
h2{
    color: white;
}
header{
    background: rgba(0, 0, 0, 0.4);
}
.minh{
    height: 30vh;
}
.logo{
    width: 100%;
}
.redess{
    text-align: right;
    margin-top: 110px;
}
.redess a img{
    width: 40px;
}
.redess a{
    opacity: 0.7;
}
.redess a:hover{
    opacity: 1;
}
.redess img{
    width: 15vh;
}
.redes img:hover{
    opacity: 0.9;
}
.nav .menu{
    background-color: darkred;
    padding: 20px;
}
.nav a{
    padding: 20px;
    text-decoration: none;
}
.nav .menu:hover{
    background-color: rgb(121, 84, 84);
}
section{
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.4);
}
p{
    display: block;
    text-indent: 0.5cm;
    color: white;
    padding: 5px;
}

.comment{
    height: 60%;
}
.article{
    margin: 20px 0;
}
.icon-search{
    width: 10%;
}
.actor{
    margin-bottom: 20px;
    margin-top: 4vh;
}
.textarea{
    border-radius: 50px;
    min-height: 50px;
    max-height: 50px;
}
.search{
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    text-indent: 0.8cm;
    width: 80%;
    background-size: 25px;
    border-radius: 50px;
    margin-top: 20px;
}
.songs{
    margin-top: 20px;
}
.songs p{
    display: block;
    text-indent: 0.5cm;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border-bottom: 1px solid rgb(68, 67, 67);
    width: 80%;
    
}
@media screen and (max-width:1200px){
    .actor img{
        width: 100%;
    }
}
@media screen and (max-width:992px){
    .logo{
        width:30%;
    }
    .redess{
        margin-top: 2vh;
        text-align: center;
        margin-top:20px;
    }   
    .minh{
        height: 60vh;
    }
    .menu{
        border-bottom: 1px solid rgb(92, 60, 60);
    }
    .actor img{
        width: 70%;
    }
}